/* states code */
.container .card1{
    display: block;
}
.container .card2{
    display: none;
}




/* states code */



:root{
    --circle:hsl(219, 13%, 21%);
    --orange :hsl(25, 97%, 53%);
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    color: white;
    box-sizing: border-box
}
body{
    background-color: hsl(216, 12%, 8%);
}
p{
    font-size: 15px;
}

.container{
    padding: 30px;
    margin: 240px auto;
    /*margin-left: auto;
    margin-right: auto;
    */width: 22%;
    height: 430px;
    /* background: rgb(50,56,67); */
    background: linear-gradient(0deg, rgba(50,56,67,0.4) 0%, rgba(37,45,55,1) 100%);
    border-radius:25px ;
    -webkit-border-radius:25px ;
    -moz-border-radius:25px ;
    -ms-border-radius:25px ;
    -o-border-radius:25px ;
}
.container .card1 .start{
    padding: 20px;
    display: inline-block;
    background-color: var(--circle);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 30px;
}

.container .card1 .text h1{
    margin-bottom: 20px;
}
.container .card1 .text p{
    color:hsl(216, 12%, 54%) ;
    margin-bottom: 20px;
    line-height: 26px;
}

.container .card1 .rating ul{
    list-style-type: none;
    list-style-position: inside;
    margin-bottom: 50px;
    margin-top: 30px;
}
.container .card1 .rating ul ui{
    padding: 13.5px 18px;
    background-color: var(--circle);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color:hsl(216, 12%, 54%);
    transition-duration: 0.3s;
    cursor: pointer;
    user-select: none;
}
.container .card1 .rating ul ui:hover{
    background-color: hsl(217, 12%, 63%);
    color: white;
}
.container .card1 .rating .active{
    background-color: var(--orange);
    color: white;
}
.container .card1 .rating ul ui:not(:last-child){
    margin-right: 25px;
}
.container .card1 .rating ul ui:first-child{
    margin-left: 10px;
}

/* submit button */
.container .card1 .rating .button{
    background-color: var(--orange);
    font-weight: lighter;
    display: inline-block;
    padding: 12px 137px;
    margin-left: 10px;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    letter-spacing: 3px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.container .card1 .rating .button:hover{
    background-color: white;
    color: var(--orange);
}





/* card2 code */

.container .card2 img{
    margin-left: 25%;
    margin-bottom: 50px;
}
.container .card2 .ratingshow{
    text-align: center;
    margin-bottom: 20px;
    margin-left: 40px;
    background-color: var(--circle);
    padding: 12px 60px;
    display: inline-block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.container .card2 .ratingshow p{
    color: var(--orange);
}
.container .card2 .ratingshow p span{
    color: inherit;
}
.container .card2 .message p{
color:hsl(216, 12%, 54%) ;
line-height: 26px;
text-align: center;
}
.container .card2 .message h1{
    text-align: center;
}